.data{
    display: flex;
    justify-content: left;
    align-items: center;
    vertical-align: middle;
}
.x{
    color: black;
    margin-right: 5px;
}
.big{
    font-size: xx-large;
}
.smal{
    font-size: x-large;
}
.dx{
    background-color: #60CDA9;
    border-radius: 10px;
    color: white;
    font-size: small;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 4px;
    top: 50%;
}

@media screen and (max-width:1200px) and (min-width:1000px) {
    .big{
        font-size: x-large;
    }
    .smal{
        font-size: large;
    }
}

@media screen and (max-width:1000px) and (min-width:600px) {
    .big{
        font-size: large;
    }
    .smal{
        font-size: medium;
    }
}
